@{
    ViewBag.Title = "Steve Elliott's Blog - Admin Access";
    Layout = "~/Views/Shared/_SingleColumn.cshtml";
}
<h2>Admin</h2>

     @using (Html.BeginForm("OpenId", "Admin", new { ReturnUrl = "" }, FormMethod.Post, new { @class = "openid" }))
     {
        @Html.AntiForgeryToken()

        <div>
            <ul class="providers"> 
                <li class="openid" title="OpenID"><img src="@Url.Content("~/Content/openid/images/openidB.png")" alt="icon" /> 
                    <span><strong>http://{your-openid-url}</strong></span>
                </li>
                <li class="direct" title="Google"> 
                    <img src="@Url.Content("~/Content/openid/images/googleB.png")" alt="icon" /><span>https://www.google.com/accounts/o8/id</span>
                </li> 
                <li class="direct" title="Yahoo"> 
                    <img src="@Url.Content("~/Content/openid/images/yahooB.png")" alt="icon" /><span>http://yahoo.com/</span>
                </li> 
                <li class="username" title="MyOpenID user name"> 
                    <img src="@Url.Content("~/Content/openid/images/myopenidB.png")" alt="icon" /><span>http://<strong>username</strong>.myopenid.com/</span>
                </li> 
            </ul>
        </div> 
        <fieldset> 
            <label for="openid_username">Enter your <span>Provider user name</span></label> 
            <div>
                <span></span><input type="text" name="openid_username" /><span></span> 
                <input type="submit" value="Login" />
            </div> 
        </fieldset> 
        <fieldset> 
            <label for="openid_identifier">Enter your <a class="openid_logo" href="http://openid.net">OpenID</a></label> 
            <div>
                <input type="text" name="openid_identifier" /> 
                <input type="submit" value="Sign In" />
            </div> 
        </fieldset> 

     }

@section Scripts
{
<script src="/Scripts/openid/jquery.openid.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () { $("form.openid:eq(0)").openid(); });
</script>
}

@section Style
{
    <link href="@Url.Content("~/Content/openid/openid.css")" rel="stylesheet" type="text/css" />
}